In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import sqlalchemy
import urllib.parse
pd.set_option('display.max_rows',None)

In [2]:
# Define your database connection variables
from sqlalchemy import create_engine
import pandas as pd

# Define your database credentials
dialect = "mysql"
driver = "pymysql"
username = "root"
password = "Root123"
host = "localhost"
db_name = "CustomerPurchaseBehaviour"

# Create the database URI
db_uri = f"{dialect}+{driver}://{username}:{password}@{host}/{db_name}"

# Create the database engine
my_engine = create_engine(db_uri)

# Define the SQL query
query = "SELECT * FROM CUSTOMERS"

# Execute the query and load the results into a DataFrame
with my_engine.connect() as db:
    customers = pd.read_sql(query, db)

# Display the DataFrame
print(customers)

     CustomerID                CustomerName  \
0           100                 Mary Chavez
1           100             Victoria Larson
2           102               Ronald Brandt
3           104                Cheryl Downs
4           104              Richard Joseph
5           105              Andrew Esparza
6           107             Brandon Pearson
7           107              Christine Soto
8           108                Chris Snyder
9           108               Eddie Mueller
10          108                Kayla Abbott
11          108            Matthew Alvarado
12          108               Ryan Reynolds
13          109            Deborah Mitchell
14          109           Mr. James Hoffman
15          111            Kristen Martinez
16          112                James Miller
17          112              Megan Saunders
18          114                Andrew Brown
19          115             Colton Figueroa
20          119                 Kelli Lopez
21          120               Brian Wallace
22          120               Riley Collins
23          120               Tracy Fleming
24          122                 Brian Adams
25          123                  Maria Sims
26          124             Caroline Bailey
27          124           Robert Mclaughlin
28          126                Mark Rowland
29          127               Janet Shelton
30          129               Sheryl Acosta
31          130               Brian Mendoza
32          130               Jeffery Gomez
33          133                  Paul Wolfe
34          134               Angela Meyers
35          134               James Pacheco
36          134               Nicolas Davis
37          137             Heather Woodard
38          137             Katherine Smith
39          137                 Miguel Boyd
40          141                  John Brown
41          141                 Johnny Cruz
42          141                 Juan Parker
43          142            Jessica Robinson
44          142             Samantha Cortez
45          143               Daniel Valdez
46          144                Kevin Taylor
47          145              David Robinson
48          145                Linda Miller
49          145                 Maria Lucas
50          147              Matthew Garcia
51          147             Richard Stevens
52          148               Sylvia Palmer
53          150                Debbie Ewing
54          150                Joshua Henry
55          153             Catherine Ramos
56          153               Robert Jarvis
57          155                David Oliver
58          156                 Jose Bryant
59          156             Kimberly Guzman
60          156                   Susan Cox
61          160              Terry Williams
62          161          Richard Williamson
63          162            Jennifer Stewart
64          162                 Robert Clay
65          163               Sherry Zamora
66          164               Charles Perry
67          167              Ashley Jackson
68          168              Heidi Castillo
69          168               Justin Arnold
70          168             Patricia Taylor
71          168                  Todd White
72          169             Caitlin Daniels
73          170               Krista Barber
74          170            Mrs. Donna White
75          170               Rebecca Ortiz
76          172                 Thomas Rios
77          174                  Tom Foster
78          176               Diana Daniels
79          176                Erica Rivera
80          176             Stephanie Davis
81          178                     Tony Le
82          180                Lisa Sanchez
83          181                 David Duran
84          182     Mr. Christopher Walters
85          183                 Alexis Yang
86          185                Edward Brown
87          186                 Kathy Walsh
88          186               Stacey Parker
89          187                David Ortega
90          189              Jason Thompson
91          189                Jerry Peters
92          191              Brandon George
93          193                   Eric Ward
94          194                Laura Vargas
95          196                 Nathan Hess
96          197               John Anderson
97          198                 George Ward
98          199             Casey Blanchard
99          199           Christopher Garza
100         200              Jason Gonzalez
101         200               Teresa Rhodes
102         201               Amy Cervantes
103         201                   Tami York
104         202             Brenda Oconnell
105         202               Shelly Phelps
106         203                 Jill Powers
107         204           Stephanie Jackson
108         204                Zachary Levy
109         205                Mary Edwards
110         206                Kyle Andrade
111         208             Brittany Miller
112         208      Mr. Richard Decker DVM
113         209                Matthew King
114         210                  Sean Banks
115         212               Kathleen Ward
116         214             Susan Stevenson
117         215                  Mark Jones
118         215               Nicholas Wong
119         216              Barbara Walker
120         216               Joshua Ritter
121         216              Madison Miller
122         216               Nancy Goodwin
123         216               Thomas Wilson
124         217              Greg Rodriguez
125         217                 Jill Conway
126         218               David Wallace
127         219              William Porter
128         220                Jaime Harris
129         221              Ernest Bennett
130         221             Jennifer Rivera
131         221                Scott Thomas
132         222               Larry Bennett
133         224               Michelle Cruz
134         225               Emily Collier
135         225                Joseph Bryan
136         226                  Dana Burns
137         226             Matthew Johnson
138         228                  Lisa Davis
139         229               Brandi Thomas
140         230                 Aaron Miles
141         230            Elizabeth Wright
142         230               Keith Ramirez
143         232             Kathleen Daniel
144         233            Christopher Lang
145         233               Karina Cooper
146         234               Melissa Olsen
147         234             Phillip Salazar
148         235            Elizabeth Baxter
149         236                 Jesse Zhang
150         237                Scott Murphy
151         238               Kelly Carroll
152         238              Rachel Sellers
153         239            Rebecca Atkinson
154         240               Patrick Allen
155         241              Carolyn Howard
156         242             James Middleton
157         243              Antonio Norman
158         244              Regina Andrews
159         248             Jessica Garrett
160         248              Michael Barnes
161         249            Melissa Phillips
162         251              Jessica Hughes
163         251            Sylvia Schroeder
164         252           Clifford Harrison
165         252             Jacob Valentine
166         252               Kaylee Murphy
167         253               Cynthia Brown
168         253                 Kevin Chang
169         254                Tammy Fields
170         256             Jill Washington
171         257            Nicole Gutierrez
172         257            Rebecca Martinez
173         258               Brandon Moore
174         258                 Sandra Pope
175         259               Jerry Edwards
176         260                 Gary Mccann
177         260               Jenna Simpson
178         261                 Aaron Rubio
179         262                Scott Gordon
180         265              Andrew Stewart
181         265                 Diane Curry
182         265             Shannon Burgess
183         266               James Holland
184         268            Timothy Williams
185         276            Tiffany Townsend
186         277                Larry Garcia
187         277              Samantha Marsh
188         280                 Amanda Huff
189         280                Amanda Sharp
190         281             Mrs. Tonya Moss
191         281              Shannon Turner
192         282            Ashley Fernandez
193         282                  Randy Ross
194         283             Brent Hernandez
195         283               Kristin Reese
196         284             Crystal Roberts
197         284              Kathy Sandoval
198         284                 Lisa Miller
199         285               John Figueroa
200         286                Amber Butler
201         286               Sara Schwartz
202         288            Katherine Taylor
203         288                   Ruben Lee
204         289               Alyssa Thomas
205         297                  Jay Mcneil
206         300                  Chad Smith
207         302        Matthew Gonzalez DDS
208         303                Judith House
209         303              Stephanie Hall
210         304                 David Baker
211         305           Charles Hernandez
212         305              Wanda Martinez
213         306                  Chad Green
214         306               Ryan Cobb PhD
215         306                 Tara Holmes
216         307             Brittany Murphy
217         308             Brittney Murphy
218         308           Catherine Jackson
219         308              Reginald Knapp
220         312                 William Fox
221         313                  Cory Hogan
222         314               Blake Vazquez
223         314              Caroline Duran
224         315            Caitlin Gonzales
225         316         Jennifer Washington
226         317         Michelle Fitzgerald
227         319             Jennifer Juarez
228         319                 Paul Stokes
229         322               Misty Mcguire
230         324             Darlene Johnson
231         324                 John Rivera
232         324                Vickie Price
233         325               Brandon Brown
234         325             Crystal Stewart
235         326                 Alexis Tran
236         326                 Mary Rivera
237         326              Michael Osborn
238         328             Heather Parrish
239         328               Jamie Montoya
240         328                Leah Vincent
241         328                 Nicole Good
242         328                  Robin Gray
243         329                Bonnie Gross
244         329               Cheryl Atkins
245         329              Kristina Young
246         329             Mckenzie Morgan
247         329                Steven Scott
248         330          Benjamin Singleton
249         331              Haley Anderson
250         333              Lauren Jackson
251         335                Carlos Smith
252         335              Michael Martin
253         335                 Scott Burns
254         335                   Sean Clay
255         336                 Chelsey Fox
256         337                   Gina Mack
257         337                Kelly Haynes
258         337                Laurie Cohen
259         340               Anthony Smith
260         340               Teresa Haynes
261         341                   Brian Lee
262         341        Nicholas Fitzpatrick
263         341             Selena Gonzalez
264         342                Oscar Norris
265         344         Arthur Fernandez MD
266         344              Vanessa Miller
267         346             Jessica Edwards
268         348                Andrew Logan
269         348             Michele Sanders
270         348              Ricardo Morris
271         349              Kristen Rivera
272         349              Melanie Flores
273         355             Heather Maxwell
274         355                  Omar Price
275         358               Debra Sanders
276         360               David Trevino
277         361             Stephanie Craig
278         362                Joyce Madden
279         365               Angela Osborn
280         366               Jacob Roberts
281         367              Angela Jackson
282         368            Caroline Morales
283         368                Jerry Wright
284         369                 Dennis Hood
285         370              Audrey Jackson
286         370                  John Lynch
287         370             Michael Nielsen
288         371               Pamela Butler
289         371             Zachary Morales
290         375                Bailey Yoder
291         375           Joshua Richardson
292         378             Deborah Proctor
293         378            Katherine Flores
294         378                 Tony Taylor
295         380            Deborah Stephens
296         381              David Lawrence
297         382           Charles Hernandez
298         382                Shaun Cannon
299         383                 Jake Chavez
300         383                  Janet Cook
301         384                   Luis Hill
302         385              Jesse Martinez
303         385              Pamela Wheeler
304         386                  Glenn Long
305         388                Cynthia Park
306         391           Christopher Glass
307         392                Sarah Jordan
308         393                Tyler Oneill
309         395                Ernest Hayes
310         396             Nicole Mcknight
311         396           Tiffany Robertson
312         397               Sharon Barnes
313         397                Tyler Miller
314         401                   Amy Black
315         401             Casey Gutierrez
316         402               Joshua Lozano
317         405            Jeffrey Drake MD
318         405              Seth Hernandez
319         405              Suzanne Norton
320         408          Brittany Henderson
321         409          Elizabeth Alvarado
322         409               James Johnson
323         409               William Lewis
324         410            Matthew Espinoza
325         411          Patrick Walker DDS
326         412             Emma Cunningham
327         412               Michelle Hill
328         413             Brittany Knight
329         413                Rodney Evans
330         415             Brandon Long MD
331         415            Kaitlin Jacobson
332         417               Justin Graham
333         419                 Craig Chang
334         419                Richard Boyd
335         419                 Sarah Perez
336         420                  Brian York
337         420                  Eric White
338         422                Jenna Decker
339         423                  Alicia Ray
340         424               Scott Carroll
341         424                Wayne Steele
342         426              Alyssa Cochran
343         426                  Bryan Cole
344         427                Blake Watson
345         427                Mikayla Rios
346         427               Stephen Davis
347         429               Rebecca Duran
348         430             Christopher Fry
349         432             Katherine Doyle
350         433               Andrea Turner
351         433                 Scott Lopez
352         434               Donald Riddle
353         436              Michael Becker
354         438                  Adam Davis
355         439               Amber Alvarez
356         439           Benjamin Thompson
357         439               Shannon Davis
358         439                 Tyler Yates
359         443                Robert Scott
360         444            Kenneth Williams
361         445              Logan Sullivan
362         445               Wendy Edwards
363         446             Yolanda Garrett
364         447                Holly Thomas
365         448            Michael Reynolds
366         449               Jeffrey Braun
367         450               Cynthia Bates
368         451            Alexandra Gibson
369         451            Courtney Nichols
370         451                 Evan Carter
371         455            Michael Thompson
372         456                Angie Grimes
373         456              Bethany Garcia
374         456                 John Dillon
375         456                Robert Perez
376         457               Scott Estrada
377         458                 Brian Smith
378         459              Jeremy Hoffman
379         459              Lori Hernandez
380         460                Eric Ferrell
381         460                 Krista Shea
382         461                 Diane Brown
383         461              Douglas Harper
384         461           Jennifer Gonzalez
385         463            Patricia Hawkins
386         463                 Seth Fisher
387         464                Eddie Fowler
388         465               Erika Alvarez
389         466             Michele Simmons
390         467              Ashley Parrish
391         467                  Eric Brown
392         467           Katelyn Rodriguez
393         467               Matthew Davis
394         467                 Sandra Hunt
395         469                 Jacob Mckee
396         469             Sharon Robinson
397         470                Justin Brown
398         474           Andrew Richardson
399         474           Christopher Smith
400         474               Wendy Sanders
401         476               Breanna Ayala
402         476                 Shawn Duffy
403         476                Theresa Lamb
404         476             Zachary Vasquez
405         477             Jessica Simmons
406         478              Justin Johnson
407         481            William Ferguson
408         482                Amber Martin
409         482                 Nathan Chen
410         484                John Shields
411         484                  Tammy King
412         485            Christopher Barr
413         485                Joshua Allen
414         486               Lindsey Russo
415         486             Michael Stanley
416         487             Matthew Houston
417         488              Olivia Bridges
418         489               Madison Singh
419         490                 John Carson
420         491                 Megan Salas
421         492               Cassidy Horne
422         492                Joseph Cross
423         492                 Paul Finley
424         493               Sabrina Olson
425         497                  Chad Reyes
426         497            Justin Henderson
427         498               Abigail Davis
428         498                Emily Morris
429         499                Charles Berg
430         500                 Kaylee Case
431         501                Hannah Bruce
432         502              Nancy Evans MD
433         502              Tabitha Turner
434         503              Theresa Torres
435         504                  Jeremy Roy
436         504               Michelle Shaw
437         505        Mrs. Jasmine Hubbard
438         506                Arthur Johns
439         508           Patricia Anderson
440         510               Eric Johnston
441         511                 Jose Powers
442         512                  Lee Steele
443         513              Debbie Russell
444         513             Priscilla Floyd
445         514              Patricia Gould
446         518               Alexis Nelson
447         522                  Mark Jones
448         523                   Amy Meyer
449         523                 Antonio Fry
450         523                 David Moore
451         523                Shawn Watson
452         524              Bernard Norton

Converting SQL data to Dataframe

In [3]:
# Getting the products table to a dataframe
query = "SELECT * FROM PRODUCTS"
# Execute the query and load the results into a DataFrame
with my_engine.connect() as db:
    products = pd.read_sql(query, db)

# Display the DataFrame
print(products)

     ProductID      ProductName  ProductCategory
0         1001           Router      Electronics
1         1002           Camera      Electronics
2         1003  Electric Kettle  Home Appliances
3         1004       Smartwatch      Electronics
4         1005          Toaster  Home Appliances
5         1006       Television      Electronics
6         1007        Microwave  Home Appliances
7         1008           Heater  Home Appliances
8         1009          Printer      Electronics
9         1010  Air Conditioner  Home Appliances
10        1011           Router      Electronics
11        1012           Laptop      Electronics
12        1013     Refrigerator  Home Appliances
13        1014       Television      Electronics
14        1015           Tablet      Electronics
15        1016           Tablet      Electronics
16        1017          Printer      Electronics
17        1018       Smartphone      Electronics
18        1019       Headphones      Electronics
19        1020           Laptop      Electronics
20        1021           Heater  Home Appliances
21        1022  Electric Kettle  Home Appliances
22        1023        Microwave  Home Appliances
23        1024       Smartwatch      Electronics
24        1025       Smartwatch      Electronics
25        1026   Vacuum Cleaner  Home Appliances
26        1027       Headphones      Electronics
27        1028       Television      Electronics
28        1029           Heater  Home Appliances
29        1030          Printer      Electronics
30        1031       Smart Bulb      Electronics
31        1032  Washing Machine  Home Appliances
32        1033           Heater  Home Appliances
33        1034           Tablet      Electronics
34        1035          Blender  Home Appliances
35        1036        Microwave  Home Appliances
36        1037          Printer      Electronics
37        1038           Laptop      Electronics
38        1039        Microwave  Home Appliances
39        1040   Vacuum Cleaner  Home Appliances
40        1041  Washing Machine  Home Appliances
41        1042           Tablet      Electronics
42        1043           Camera      Electronics
43        1044       Smartphone      Electronics
44        1045       Smart Bulb      Electronics
45        1046     Refrigerator  Home Appliances
46        1047  Washing Machine  Home Appliances
47        1048       Headphones      Electronics
48        1049       Smartwatch      Electronics
49        1050     Coffee Maker  Home Appliances
50        1051           Laptop      Electronics
51        1052       Smart Bulb      Electronics
52        1053          Toaster  Home Appliances
53        1054          Blender  Home Appliances
54        1055          Printer      Electronics
55        1056        Microwave  Home Appliances
56        1057  Electric Kettle  Home Appliances
57        1058     Coffee Maker  Home Appliances
58        1059           Laptop      Electronics
59        1060           Tablet      Electronics
60        1061          Toaster  Home Appliances
61        1062        Microwave  Home Appliances
62        1063          Toaster  Home Appliances
63        1064           Heater  Home Appliances
64        1065           Laptop      Electronics
65        1066           Heater  Home Appliances
66        1067  Air Conditioner  Home Appliances
67        1068          Printer      Electronics
68        1069  Air Conditioner  Home Appliances
69        1070           Heater  Home Appliances
70        1071  Washing Machine  Home Appliances
71        1072       Television      Electronics
72        1073       Television      Electronics
73        1074  Electric Kettle  Home Appliances
74        1075       Television      Electronics
75        1076       Smartwatch      Electronics
76        1077       Smartwatch      Electronics
77        1078        Microwave  Home Appliances
78        1079       Smart Bulb      Electronics
79        1080          Toaster  Home Appliances
80        1081  Air Conditioner  Home Appliances
81        1082  Air Conditioner  Home Appliances
82        1083       Headphones      Electronics
83        1084     Refrigerator  Home Appliances
84        1085  Electric Kettle  Home Appliances
85        1086           Router      Electronics
86        1087  Washing Machine  Home Appliances
87        1088  Electric Kettle  Home Appliances
88        1089       Television      Electronics
89        1090       Headphones      Electronics
90        1091       Headphones      Electronics
91        1092  Washing Machine  Home Appliances
92        1093  Air Conditioner  Home Appliances
93        1094  Electric Kettle  Home Appliances
94        1095       Headphones      Electronics
95        1096       Smartphone      Electronics
96        1097  Air Conditioner  Home Appliances
97        1098     Coffee Maker  Home Appliances
98        1099  Air Conditioner  Home Appliances
99        1100          Toaster  Home Appliances
100       1101       Television      Electronics
101       1102       Smartwatch      Electronics
102       1103           Tablet      Electronics
103       1104        Microwave  Home Appliances
104       1105     Refrigerator  Home Appliances
105       1106          Toaster  Home Appliances
106       1107     Coffee Maker  Home Appliances
107       1108           Heater  Home Appliances
108       1109  Washing Machine  Home Appliances
109       1110           Heater  Home Appliances
110       1111     Coffee Maker  Home Appliances
111       1112  Electric Kettle  Home Appliances
112       1113       Television      Electronics
113       1114  Air Conditioner  Home Appliances
114       1115       Headphones      Electronics
115       1116     Refrigerator  Home Appliances
116       1117           Tablet      Electronics
117       1118           Tablet      Electronics
118       1119     Coffee Maker  Home Appliances
119       1120           Tablet      Electronics
120       1121       Smart Bulb      Electronics
121       1122           Laptop      Electronics
122       1123          Toaster  Home Appliances
123       1124       Smartwatch      Electronics
124       1125        Microwave  Home Appliances
125       1126          Toaster  Home Appliances
126       1127  Air Conditioner  Home Appliances
127       1128       Smart Bulb      Electronics
128       1129          Blender  Home Appliances
129       1130     Coffee Maker  Home Appliances
130       1131       Headphones      Electronics
131       1132     Refrigerator  Home Appliances
132       1133          Blender  Home Appliances
133       1134           Laptop      Electronics
134       1135          Toaster  Home Appliances
135       1136           Camera      Electronics
136       1137  Air Conditioner  Home Appliances
137       1138       Television      Electronics
138       1139          Printer      Electronics
139       1140           Tablet      Electronics
140       1141       Smartphone      Electronics
141       1142          Toaster  Home Appliances
142       1143           Router      Electronics
143       1144       Headphones      Electronics
144       1145  Electric Kettle  Home Appliances
145       1146       Television      Electronics
146       1147  Washing Machine  Home Appliances
147       1148  Washing Machine  Home Appliances
148       1149          Toaster  Home Appliances
149       1150  Washing Machine  Home Appliances
150       1151          Printer      Electronics
151       1152  Electric Kettle  Home Appliances
152       1153          Blender  Home Appliances
153       1154       Smart Bulb      Electronics
154       1155   Vacuum Cleaner  Home Appliances
155       1156       Television      Electronics
156       1157           Laptop      Electronics
157       1158          Blender  Home Appliances
158       1159           Laptop      Electronics
159       1160        Microwave  Home Appliances
160       1161           Heater  Home Appliances
161       1162       Smartwatch      Electronics
162       1163          Toaster  Home Appliances
163       1164       Headphones      Electronics
164       1165           Heater  Home Appliances
165       1166          Blender  Home Appliances
166       1167          Toaster  Home Appliances
167       1168     Refrigerator  Home Appliances
168       1169  Electric Kettle  Home Appliances
169       1170  Washing Machine  Home Appliances
170       1171       Smartphone      Electronics
171       1172           Laptop      Electronics
172       1173          Printer      Electronics
173       1174  Electric Kettle  Home Appliances
174       1175           Tablet      Electronics
175       1176          Blender  Home Appliances
176       1177   Vacuum Cleaner  Home Appliances
177       1178           Heater  Home Appliances
178       1179   Vacuum Cleaner  Home Appliances
179       1180     Refrigerator  Home Appliances
180       1181       Smartphone      Electronics
181       1182       Smart Bulb      Electronics
182       1183       Smart Bulb      Electronics
183       1184           Camera      Electronics
184       1185       Smartwatch      Electronics
185       1186        Microwave  Home Appliances
186       1187       Headphones      Electronics
187       1188       Smart Bulb      Electronics
188       1189          Blender  Home Appliances
189       1190           Laptop      Electronics
190       1191           Heater  Home Appliances
191       1192       Smart Bulb      Electronics
192       1193  Air Conditioner  Home Appliances
193       1194     Coffee Maker  Home Appliances
194       1195  Air Conditioner  Home Appliances
195       1196  Electric Kettle  Home Appliances
196       1197  Electric Kettle  Home Appliances
197       1198     Coffee Maker  Home Appliances
198       1199           Heater  Home Appliances
199       1200           Router      Electronics
200       1201          Printer      Electronics
201       1202     Coffee Maker  Home Appliances
202       1203  Washing Machine  Home Appliances
203       1204     Refrigerator  Home Appliances
204       1205          Printer      Electronics
205       1206        Microwave  Home Appliances
206       1207     Refrigerator  Home Appliances
207       1208          Blender  Home Appliances
208       1209     Refrigerator  Home Appliances
209       1210           Tablet      Electronics
210       1211           Heater  Home Appliances
211       1212  Electric Kettle  Home Appliances
212       1213       Smart Bulb      Electronics
213       1214  Washing Machine  Home Appliances
214       1215       Headphones      Electronics
215       1216       Headphones      Electronics
216       1217          Printer      Electronics
217       1218           Camera      Electronics
218       1219       Smartphone      Electronics
219       1220           Laptop      Electronics
220       1221  Air Conditioner  Home Appliances
221       1222   Vacuum Cleaner  Home Appliances
222       1223     Refrigerator  Home Appliances
223       1224           Heater  Home Appliances
224       1225  Electric Kettle  Home Appliances
225       1226   Vacuum Cleaner  Home Appliances
226       1227          Toaster  Home Appliances
227       1228        Microwave  Home Appliances
228       1229           Router      Electronics
229       1230     Refrigerator  Home Appliances
230       1231          Printer      Electronics
231       1232           Camera      Electronics
232       1233     Coffee Maker  Home Appliances
233       1234           Camera      Electronics
234       1235          Toaster  Home Appliances
235       1236       Television      Electronics
236       1237          Printer      Electronics
237       1238           Camera      Electronics
238       1239           Router      Electronics
239       1240          Toaster  Home Appliances
240       1241       Smartwatch      Electronics
241       1242           Laptop      Electronics
242       1243  Air Conditioner  Home Appliances
243       1244  Electric Kettle  Home Appliances
244       1245        Microwave  Home Appliances
245       1246  Washing Machine  Home Appliances
246       1247           Heater  Home Appliances
247       1248          Blender  Home Appliances
248       1249     Refrigerator  Home Appliances
249       1250  Air Conditioner  Home Appliances
250       1251           Tablet      Electronics
251       1252  Electric Kettle  Home Appliances
252       1253           Tablet      Electronics
253       1254     Refrigerator  Home Appliances
254       1255       Television      Electronics
255       1256           Camera      Electronics
256       1257     Coffee Maker  Home Appliances
257       1258           Camera      Electronics
258       1259  Washing Machine  Home Appliances
259       1260           Camera      Electronics
260       1261           Camera      Electronics
261       1262        Microwave  Home Appliances
262       1263       Smartwatch      Electronics
263       1264        Microwave  Home Appliances
264       1265           Heater  Home Appliances
265       1266        Microwave  Home Appliances
266       1267   Vacuum Cleaner  Home Appliances
267       1268           Laptop      Electronics
268       1269           Router      Electronics
269       1270           Camera      Electronics
270       1271        Microwave  Home Appliances
271       1272           Tablet      Electronics
272       1273           Tablet      Electronics
273       1274   Vacuum Cleaner  Home Appliances
274       1275   Vacuum Cleaner  Home Appliances
275       1276  Air Conditioner  Home Appliances
276       1277        Microwave  Home Appliances
277       1278       Smartwatch      Electronics
278       1279           Heater  Home Appliances
279       1280       Smartwatch      Electronics
280       1281  Air Conditioner  Home Appliances
281       1282     Refrigerator  Home Appliances
282       1283          Blender  Home Appliances
283       1284   Vacuum Cleaner  Home Appliances
284       1285   Vacuum Cleaner  Home Appliances
285       1286           Camera      Electronics
286       1287  Air Conditioner  Home Appliances
287       1288  Air Conditioner  Home Appliances
288       1289       Smartphone      Electronics
289       1290           Router      Electronics
290       1291       Smartwatch      Electronics
291       1292       Television      Electronics
292       1293     Refrigerator  Home Appliances
293       1294  Electric Kettle  Home Appliances
294       1295       Headphones      Electronics
295       1296   Vacuum Cleaner  Home Appliances
296       1297           Router      Electronics
297       1298          Printer      Electronics
298       1299          Toaster  Home Appliances
299       1300     Refrigerator  Home Appliances
300       1301       Smart Bulb      Electronics
301       1302           Heater  Home Appliances
302       1303           Tablet      Electronics
303       1304           Laptop      Electronics
304       1305       Smartphone      Electronics
305       1306  Washing Machine  Home Appliances
306       1307  Washing Machine  Home Appliances
307       1308       Smartwatch      Electronics
308       1309           Camera      Electronics
309       1310     Coffee Maker  Home Appliances
310       1311          Toaster  Home Appliances
311       1312          Toaster  Home Appliances
312       1313          Printer      Electronics
313       1314           Router      Electronics
314       1315           Camera      Electronics
315       1316        Microwave  Home Appliances
316       1317           Camera      Electronics
317       1318          Blender  Home Appliances
318       1319          Toaster  Home Appliances
319       1320       Smartphone      Electronics
320       1321          Blender  Home Appliances
321       1322          Toaster  Home Appliances
322       1323       Smart Bulb      Electronics
323       1324          Toaster  Home Appliances
324       1325           Router      Electronics
325       1326   Vacuum Cleaner  Home Appliances
326       1327           Tablet      Electronics
327       1328       Smartwatch      Electronics
328       1329       Smart Bulb      Electronics
329       1330   Vacuum Cleaner  Home Appliances
330       1331           Tablet      Electronics
331       1332     Refrigerator  Home Appliances
332       1333           Router      Electronics
333       1334        Microwave  Home Appliances
334       1335           Laptop      Electronics
335       1336           Tablet      Electronics
336       1337  Air Conditioner  Home Appliances
337       1338           Laptop      Electronics
338       1339           Heater  Home Appliances
339       1340       Headphones      Electronics
340       1341  Air Conditioner  Home Appliances
341       1342       Headphones      Electronics
342       1343           Laptop      Electronics
343       1344       Headphones      Electronics
344       1345           Camera      Electronics
345       1346       Smartwatch      Electronics
346       1347        Microwave  Home Appliances
347       1348           Router      Electronics
348       1349       Headphones      Electronics
349       1350  Electric Kettle  Home Appliances
350       1351           Laptop      Electronics
351       1352   Vacuum Cleaner  Home Appliances
352       1353           Tablet      Electronics
353       1354  Air Conditioner  Home Appliances
354       1355  Washing Machine  Home Appliances
355       1356       Headphones      Electronics
356       1357   Vacuum Cleaner  Home Appliances
357       1358          Toaster  Home Appliances
358       1359           Camera      Electronics
359       1360   Vacuum Cleaner  Home Appliances
360       1361   Vacuum Cleaner  Home Appliances
361       1362     Coffee Maker  Home Appliances
362       1363           Camera      Electronics
363       1364       Headphones      Electronics
364       1365  Air Conditioner  Home Appliances
365       1366          Printer      Electronics
366       1367       Television      Electronics
367       1368       Smartwatch      Electronics
368       1369  Washing Machine  Home Appliances
369       1370          Printer      Electronics
370       1371     Coffee Maker  Home Appliances
371       1372       Smart Bulb      Electronics
372       1373     Refrigerator  Home Appliances
373       1374  Electric Kettle  Home Appliances
374       1375          Printer      Electronics
375       1376           Heater  Home Appliances
376       1377       Smart Bulb      Electronics
377       1378       Smartphone      Electronics
378       1379  Air Conditioner  Home Appliances
379       1380           Camera      Electronics
380       1381  Electric Kettle  Home Appliances
381       1382  Electric Kettle  Home Appliances
382       1383           Camera      Electronics
383       1384  Electric Kettle  Home Appliances
384       1385       Smart Bulb      Electronics
385       1386       Smartphone      Electronics
386       1387        Microwave  Home Appliances
387       1388       Television      Electronics
388       1389        Microwave  Home Appliances
389       1390           Heater  Home Appliances
390       1391       Headphones      Electronics
391       1392  Air Conditioner  Home Appliances
392       1393           Tablet      Electronics
393       1394  Washing Machine  Home Appliances
394       1395       Smartwatch      Electronics
395       1396  Washing Machine  Home Appliances
396       1397          Toaster  Home Appliances
397       1398  Washing Machine  Home Appliances
398       1399     Coffee Maker  Home Appliances
399       1400       Smartwatch      Electronics
400       1401           Camera      Electronics
401       1402   Vacuum Cleaner  Home Appliances
402       1403           Heater  Home Appliances
403       1404       Television      Electronics
404       1405       Television      Electronics
405       1406  Air Conditioner  Home Appliances
406       1407       Smartphone      Electronics

In [4]:
# Getting the categories table to a dataframe
query = "SELECT * FROM ORDERDETAILS"
# Execute the query and load the results into a DataFrame
with my_engine.connect() as db:
    orderdetails = pd.read_sql(query, db)

# Display the DataFrame
print(orderdetails)

     TransactionID PurchaseDate  ProductID  CustomerID  \
0                1   2024-03-01       1001         887
1                2   2024-01-26       1002         560
2                3   2024-05-13       1003         701
3                4   2023-09-21       1004         630
4                5   2024-01-25       1005         631
5                6   2023-08-30       1006         228
6                7   2023-11-04       1007         694
7                8   2024-04-20       1008         677
8                9   2023-07-07       1009         371
9               10   2024-05-03       1010         742
10              11   2023-12-13       1011         801
11              12   2023-10-28       1012         595
12              13   2024-01-30       1013         981
13              14   2023-08-02       1014         426
14              15   2024-05-06       1015         397
15              16   2023-12-24       1016         691
16              17   2023-09-17       1017         415
17              18   2024-03-13       1018         461
18              19   2024-04-03       1019         392
19              20   2023-09-09       1020         882
20              21   2023-10-12       1021         666
21              22   2023-11-17       1022         738
22              23   2024-01-09       1023         447
23              24   2024-01-13       1024         612
24              25   2023-10-27       1025         252
25              26   2024-01-18       1026         502
26              27   2024-03-13       1027         825
27              28   2024-02-25       1028         526
28              29   2024-02-05       1029         711
29              30   2024-04-01       1030         333
30              31   2024-02-03       1031         893
31              32   2023-12-03       1032         817
32              33   2024-04-03       1033         308
33              34   2023-12-28       1034         822
34              35   2024-01-24       1035         485
35              36   2023-10-06       1036         792
36              37   2024-06-25       1037         595
37              38   2023-12-29       1038         889
38              39   2024-02-03       1039         673
39              40   2024-05-03       1040         656
40              41   2024-03-06       1041         397
41              42   2024-03-22       1042         865
42              43   2024-03-12       1043         240
43              44   2024-03-30       1044         643
44              45   2023-12-01       1045         202
45              46   2023-10-28       1046         999
46              47   2024-01-19       1047         761
47              48   2024-06-02       1048         840
48              49   2023-09-06       1049         280
49              50   2023-10-19       1050         866
50              51   2024-01-22       1051         717
51              52   2023-09-08       1052         605
52              53   2023-09-06       1053         215
53              54   2023-09-02       1054         854
54              55   2023-07-29       1055         976
55              56   2023-06-28       1056         785
56              57   2024-02-07       1057         492
57              58   2024-03-11       1058         686
58              59   2024-04-19       1059         576
59              60   2023-09-19       1060         806
60              61   2023-12-04       1061         236
61              62   2024-04-16       1062         662
62              63   2024-01-17       1063         796
63              64   2024-06-10       1064         470
64              65   2023-12-14       1065         307
65              66   2023-12-16       1066         796
66              67   2024-01-29       1067         156
67              68   2024-04-10       1068         788
68              69   2023-07-19       1069         692
69              70   2024-04-18       1070         170
70              71   2023-12-17       1071         846
71              72   2023-08-16       1072         486
72              73   2023-08-14       1073         980
73              74   2024-03-13       1074         328
74              75   2023-11-07       1075         657
75              76   2024-05-05       1076         382
76              77   2023-09-14       1077         529
77              78   2023-09-29       1078         203
78              79   2023-07-17       1079         145
79              80   2024-02-13       1080         615
80              81   2024-01-14       1081         788
81              82   2024-06-14       1082         523
82              83   2024-06-25       1083         741
83              84   2023-08-22       1084         787
84              85   2023-10-20       1085         485
85              86   2023-12-04       1086         824
86              87   2023-07-26       1087         642
87              88   2023-07-16       1088         560
88              89   2024-05-03       1089         486
89              90   2023-10-21       1090         701
90              91   2024-04-13       1091         115
91              92   2024-01-26       1092         348
92              93   2023-10-05       1093         894
93              94   2023-12-25       1094         625
94              95   2024-01-30       1095         959
95              96   2024-02-05       1096         326
96              97   2024-05-14       1097         527
97              98   2024-05-10       1098         611
98              99   2023-08-30       1099         840
99             100   2023-07-18       1100         837
100            101   2024-04-17       1101         134
101            102   2023-06-29       1102         522
102            103   2024-06-14       1103         617
103            104   2024-04-01       1104         775
104            105   2023-12-10       1105         648
105            106   2024-02-21       1106         283
106            107   2023-11-30       1107         358
107            108   2024-03-05       1108         678
108            109   2023-12-27       1109         765
109            110   2024-03-02       1110         752
110            111   2024-06-16       1111         439
111            112   2023-10-09       1112         335
112            113   2023-07-08       1113         176
113            114   2024-05-09       1114         970
114            115   2024-02-01       1115         940
115            116   2024-04-08       1116         969
116            117   2023-08-02       1117         909
117            118   2023-11-27       1118         337
118            119   2023-09-22       1119         434
119            120   2023-11-20       1120         666
120            121   2023-10-08       1121         890
121            122   2023-11-13       1122         489
122            123   2023-08-04       1123         193
123            124   2023-08-05       1124         189
124            125   2024-05-26       1125         191
125            126   2024-06-11       1126         112
126            127   2023-10-20       1127         685
127            128   2023-12-31       1128         604
128            129   2024-02-11       1129         178
129            130   2023-11-02       1130         300
130            131   2024-05-07       1131         735
131            132   2024-03-22       1132         980
132            133   2024-04-06       1133         590
133            134   2023-11-14       1134         748
134            135   2024-01-25       1135         677
135            136   2024-05-13       1136         844
136            137   2023-08-19       1137         170
137            138   2023-07-24       1138         410
138            139   2023-12-05       1139         712
139            140   2024-02-11       1140         137
140            141   2024-03-03       1141         187
141            142   2023-11-01       1142         145
142            143   2024-01-13       1143         540
143            144   2024-04-20       1144         694
144            145   2023-08-05       1145         702
145            146   2023-08-20       1146         525
146            147   2023-12-27       1147         419
147            148   2024-05-05       1148         548
148            149   2024-06-21       1149         217
149            150   2023-12-22       1150         349
150            151   2023-11-26       1151         916
151            152   2023-06-27       1152         855
152            153   2024-02-05       1153         319
153            154   2023-08-09       1154         918
154            155   2023-11-23       1155         786
155            156   2023-09-01       1156         501
156            157   2024-03-13       1157         789
157            158   2023-08-19       1158         420
158            159   2024-01-01       1159         497
159            160   2023-08-29       1160         650
160            161   2024-05-27       1161         395
161            162   2024-01-04       1162         109
162            163   2023-07-07       1163         801
163            164   2023-08-30       1164         879
164            165   2023-08-08       1165         568
165            166   2024-05-10       1166         216
166            167   2023-08-04       1167         142
167            168   2023-12-17       1168         949
168            169   2024-04-22       1169         456
169            170   2024-02-18       1170         342
170            171   2024-05-03       1171         538
171            172   2024-03-25       1172         683
172            173   2024-05-07       1173         396
173            174   2024-05-27       1174         238
174            175   2024-05-12       1175         229
175            176   2023-10-08       1176         879
176            177   2023-08-01       1177         524
177            178   2024-01-01       1178         627
178            179   2023-12-21       1179         695
179            180   2023-09-18       1180         780
180            181   2024-01-24       1181         944
181            182   2024-04-17       1182         233
182            183   2024-06-20       1183         147
183            184   2024-03-19       1184         261
184            185   2023-08-01       1185         235
185            186   2023-07-16       1186         469
186            187   2023-07-31       1187         740
187            188   2024-01-13       1188         197
188            189   2024-03-21       1189         555
189            190   2023-08-05       1190         589
190            191   2024-05-30       1191         476
191            192   2023-08-28       1192         756
192            193   2024-02-20       1193         459
193            194   2023-08-12       1194         553
194            195   2023-09-30       1195         847
195            196   2023-10-14       1196         760
196            197   2024-01-13       1197         807
197            198   2024-01-04       1198         621
198            199   2023-11-13       1199         215
199            200   2024-01-24       1200         424
200            201   2024-02-09       1201         276
201            202   2024-01-08       1202         114
202            203   2023-07-28       1203         743
203            204   2024-01-10       1204         649
204            205   2024-02-27       1205         308
205            206   2024-04-04       1206         954
206            207   2023-12-19       1207         966
207            208   2023-08-11       1208         723
208            209   2024-01-15       1209         824
209            210   2024-04-24       1210         901
210            211   2024-05-04       1211         375
211            212   2023-07-25       1212         378
212            213   2023-11-15       1213         566
213            214   2023-09-22       1214         361
214            215   2023-12-26       1215         621
215            216   2024-01-26       1216         492
216            217   2024-06-15       1217         831
217            218   2024-03-13       1218         427
218            219   2023-07-22       1219         153
219            220   2024-01-26       1220         576
220            221   2024-02-22       1221         108
221            222   2023-09-09       1222         575
222            223   2023-07-05       1223         659
223            224   2023-06-26       1224         654
224            225   2024-01-17       1225         773
225            226   2023-07-13       1226         529
226            227   2023-12-21       1227         337
227            228   2023-07-25       1228         186
228            229   2023-10-05       1229         681
229            230   2023-10-27       1230         422
230            231   2024-02-08       1231         378
231            232   2024-01-20       1232         259
232            233   2023-07-31       1233         888
233            234   2023-09-17       1234         926
234            235   2023-11-26       1235         977
235            236   2023-11-30       1236         150
236            237   2024-05-03       1237         563
237            238   2023-08-15       1238         243
238            239   2024-02-07       1239         943
239            240   2024-06-10       1240         365
240            241   2023-08-12       1241         554
241            242   2023-11-26       1242         572
242            243   2023-10-10       1243         130
243            244   2024-03-03       1244         556
244            245   2023-11-21       1245         610
245            246   2024-05-02       1246         529
246            247   2024-01-23       1247         913
247            248   2023-09-03       1248         596
248            249   2023-07-18       1249         426
249            250   2023-08-03       1250         583
250            251   2023-07-17       1251         772
251            252   2023-09-02       1252         324
252            253   2023-07-06       1253         706
253            254   2024-05-15       1254         817
254            255   2023-09-24       1255         604
255            256   2023-09-12       1256         324
256            257   2023-07-19       1257         233
257            258   2024-05-25       1258         251
258            259   2023-11-03       1259         174
259            260   2024-01-01       1260         430
260            261   2024-04-26       1261         424
261            262   2024-03-19       1262         328
262            263   2023-11-25       1263         230
263            264   2023-09-19       1264         889
264            265   2023-09-26       1265         679
265            266   2024-03-12       1266         427
266            267   2024-03-21       1267         846
267            268   2023-12-13       1268         458
268            269   2023-11-09       1269         529
269            270   2024-04-15       1270         484
270            271   2023-07-03       1271         330
271            272   2023-08-27       1272         367
272            273   2024-02-19       1273         176
273            274   2024-06-05       1274         594
274            275   2024-03-22       1275         260
275            276   2023-09-26       1276         839
276            277   2023-11-13       1277         150
277            278   2023-09-11       1278         537
278            279   2024-05-18       1279         126
279            280   2023-07-31       1280         415
280            281   2023-12-16       1281         657
281            282   2023-07-19       1282         369
282            283   2023-12-03       1283         870
283            284   2023-12-05       1284         703
284            285   2023-10-20       1285         803
285            286   2024-05-01       1286         504
286            287   2023-09-16       1287         793
287            288   2023-09-12       1288         297
288            289   2024-06-15       1289         742
289            290   2024-01-13       1290         168
290            291   2023-08-08       1291         994
291            292   2024-06-19       1292         253
292            293   2024-05-31       1293         676
293            294   2023-08-31       1294         370
294            295   2023-11-26       1295         512
295            296   2024-06-08       1296         439
296            297   2024-05-24       1297         120
297            298   2023-12-15       1298         801
298            299   2023-09-06       1299         945
299            300   2024-05-27       1300         316
300            301   2024-01-08       1301         940
301            302   2023-09-08       1302         238
302            303   2024-06-16       1303         952
303            304   2024-02-27       1304         821
304            305   2023-09-02       1305         226
305            306   2024-04-11       1306         585
306            307   2024-04-23       1307         805
307            308   2023-12-02       1308         977
308            309   2024-06-13       1309         120
309            310   2024-05-03       1310         762
310            311   2024-05-21       1311         412
311            312   2023-11-27       1312         570
312            313   2024-01-30       1313         204
313            314   2023-11-03       1314         708
314            315   2023-10-20       1315         755
315            316   2023-11-29       1316         253
316            317   2023-10-04       1317         427
317            318   2024-05-07       1318         528
318            319   2024-06-12       1319         451
319            320   2024-05-31       1320         787
320            321   2024-05-04       1321         285
321            322   2023-07-30       1322         881
322            323   2023-11-17       1323         463
323            324   2024-02-07       1324         699
324            325   2023-11-21       1325         735
325            326   2023-11-06       1326         405
326            327   2023-09-04       1327         683
327            328   2023-12-18       1328         182
328            329   2024-04-25       1329         314
329            330   2023-12-09       1330         898
330            331   2024-06-06       1331         492
331            332   2024-04-05       1332         875
332            333   2024-01-07       1333         331
333            334   2023-12-20       1334         413
334            335   2023-11-06       1335         632
335            336   2023-07-03       1336         601
336            337   2024-01-07       1337         329
337            338   2023-10-03       1338         226
338            339   2024-03-05       1339         647
339            340   2024-01-24       1340         120
340            341   2023-10-20       1341         585
341            342   2023-08-18       1342         777
342            343   2023-08-09       1343         950
343            344   2024-03-25       1344         208
344            345   2024-06-22       1345         402
345            346   2024-05-15       1346         438
346            347   2023-08-04       1347         785
347            348   2023-12-23       1348         362
348            349   2024-05-02       1349         202
349            350   2023-06-29       1350         420
350            351   2024-02-22       1351         241
351            352   2023-11-28       1352         999
352            353   2024-03-03       1353         567
353            354   2023-08-05       1354         916
354            355   2023-11-12       1355         704
355            356   2023-12-30       1356         129
356            357   2024-03-06       1357         599
357            358   2024-04-02       1358         112
358            359   2024-03-19       1359         329
359            360   2024-03-09       1360         733
360            361   2023-07-17       1361         756
361            362   2024-05-28       1362         758

In [5]:
# Merging the datasets to get the full dataset, this will help to create graphs and analyze data
newdf = orderdetails.merge(customers, how='inner',on=["CustomerID","CustomerName"])
final_data=newdf.merge(products, how='inner',on="ProductID")
print(final_data)

     TransactionID PurchaseDate  ProductID  CustomerID  \
0                1   2024-03-01       1001         887
1                2   2024-01-26       1002         560
2                3   2024-05-13       1003         701
3                4   2023-09-21       1004         630
4                5   2024-01-25       1005         631
5                6   2023-08-30       1006         228
6                7   2023-11-04       1007         694
7                8   2024-04-20       1008         677
8                9   2023-07-07       1009         371
9               10   2024-05-03       1010         742
10              11   2023-12-13       1011         801
11              12   2023-10-28       1012         595
12              13   2024-01-30       1013         981
13              14   2023-08-02       1014         426
14              15   2024-05-06       1015         397
15              16   2023-12-24       1016         691
16              17   2023-09-17       1017         415
17              18   2024-03-13       1018         461
18              19   2024-04-03       1019         392
19              20   2023-09-09       1020         882
20              21   2023-10-12       1021         666
21              22   2023-11-17       1022         738
22              23   2024-01-09       1023         447
23              24   2024-01-13       1024         612
24              25   2023-10-27       1025         252
25              26   2024-01-18       1026         502
26              27   2024-03-13       1027         825
27              28   2024-02-25       1028         526
28              29   2024-02-05       1029         711
29              30   2024-04-01       1030         333
30              31   2024-02-03       1031         893
31              32   2023-12-03       1032         817
32              33   2024-04-03       1033         308
33              34   2023-12-28       1034         822
34              35   2024-01-24       1035         485
35              36   2023-10-06       1036         792
36              37   2024-06-25       1037         595
37              38   2023-12-29       1038         889
38              39   2024-02-03       1039         673
39              40   2024-05-03       1040         656
40              41   2024-03-06       1041         397
41              42   2024-03-22       1042         865
42              43   2024-03-12       1043         240
43              44   2024-03-30       1044         643
44              45   2023-12-01       1045         202
45              46   2023-10-28       1046         999
46              47   2024-01-19       1047         761
47              48   2024-06-02       1048         840
48              49   2023-09-06       1049         280
49              50   2023-10-19       1050         866
50              51   2024-01-22       1051         717
51              52   2023-09-08       1052         605
52              53   2023-09-06       1053         215
53              54   2023-09-02       1054         854
54              55   2023-07-29       1055         976
55              56   2023-06-28       1056         785
56              57   2024-02-07       1057         492
57              58   2024-03-11       1058         686
58              59   2024-04-19       1059         576
59              60   2023-09-19       1060         806
60              61   2023-12-04       1061         236
61              62   2024-04-16       1062         662
62              63   2024-01-17       1063         796
63              64   2024-06-10       1064         470
64              65   2023-12-14       1065         307
65              66   2023-12-16       1066         796
66              67   2024-01-29       1067         156
67              68   2024-04-10       1068         788
68              69   2023-07-19       1069         692
69              70   2024-04-18       1070         170
70              71   2023-12-17       1071         846
71              72   2023-08-16       1072         486
72              73   2023-08-14       1073         980
73              74   2024-03-13       1074         328
74              75   2023-11-07       1075         657
75              76   2024-05-05       1076         382
76              77   2023-09-14       1077         529
77              78   2023-09-29       1078         203
78              79   2023-07-17       1079         145
79              80   2024-02-13       1080         615
80              81   2024-01-14       1081         788
81              82   2024-06-14       1082         523
82              83   2024-06-25       1083         741
83              84   2023-08-22       1084         787
84              85   2023-10-20       1085         485
85              86   2023-12-04       1086         824
86              87   2023-07-26       1087         642
87              88   2023-07-16       1088         560
88              89   2024-05-03       1089         486
89              90   2023-10-21       1090         701
90              91   2024-04-13       1091         115
91              92   2024-01-26       1092         348
92              93   2023-10-05       1093         894
93              94   2023-12-25       1094         625
94              95   2024-01-30       1095         959
95              96   2024-02-05       1096         326
96              97   2024-05-14       1097         527
97              98   2024-05-10       1098         611
98              99   2023-08-30       1099         840
99             100   2023-07-18       1100         837
100            101   2024-04-17       1101         134
101            102   2023-06-29       1102         522
102            103   2024-06-14       1103         617
103            104   2024-04-01       1104         775
104            105   2023-12-10       1105         648
105            106   2024-02-21       1106         283
106            107   2023-11-30       1107         358
107            108   2024-03-05       1108         678
108            109   2023-12-27       1109         765
109            110   2024-03-02       1110         752
110            111   2024-06-16       1111         439
111            112   2023-10-09       1112         335
112            113   2023-07-08       1113         176
113            114   2024-05-09       1114         970
114            115   2024-02-01       1115         940
115            116   2024-04-08       1116         969
116            117   2023-08-02       1117         909
117            118   2023-11-27       1118         337
118            119   2023-09-22       1119         434
119            120   2023-11-20       1120         666
120            121   2023-10-08       1121         890
121            122   2023-11-13       1122         489
122            123   2023-08-04       1123         193
123            124   2023-08-05       1124         189
124            125   2024-05-26       1125         191
125            126   2024-06-11       1126         112
126            127   2023-10-20       1127         685
127            128   2023-12-31       1128         604
128            129   2024-02-11       1129         178
129            130   2023-11-02       1130         300
130            131   2024-05-07       1131         735
131            132   2024-03-22       1132         980
132            133   2024-04-06       1133         590
133            134   2023-11-14       1134         748
134            135   2024-01-25       1135         677
135            136   2024-05-13       1136         844
136            137   2023-08-19       1137         170
137            138   2023-07-24       1138         410
138            139   2023-12-05       1139         712
139            140   2024-02-11       1140         137
140            141   2024-03-03       1141         187
141            142   2023-11-01       1142         145
142            143   2024-01-13       1143         540
143            144   2024-04-20       1144         694
144            145   2023-08-05       1145         702
145            146   2023-08-20       1146         525
146            147   2023-12-27       1147         419
147            148   2024-05-05       1148         548
148            149   2024-06-21       1149         217
149            150   2023-12-22       1150         349
150            151   2023-11-26       1151         916
151            152   2023-06-27       1152         855
152            153   2024-02-05       1153         319
153            154   2023-08-09       1154         918
154            155   2023-11-23       1155         786
155            156   2023-09-01       1156         501
156            157   2024-03-13       1157         789
157            158   2023-08-19       1158         420
158            159   2024-01-01       1159         497
159            160   2023-08-29       1160         650
160            161   2024-05-27       1161         395
161            162   2024-01-04       1162         109
162            163   2023-07-07       1163         801
163            164   2023-08-30       1164         879
164            165   2023-08-08       1165         568
165            166   2024-05-10       1166         216
166            167   2023-08-04       1167         142
167            168   2023-12-17       1168         949
168            169   2024-04-22       1169         456
169            170   2024-02-18       1170         342
170            171   2024-05-03       1171         538
171            172   2024-03-25       1172         683
172            173   2024-05-07       1173         396
173            174   2024-05-27       1174         238
174            175   2024-05-12       1175         229
175            176   2023-10-08       1176         879
176            177   2023-08-01       1177         524
177            178   2024-01-01       1178         627
178            179   2023-12-21       1179         695
179            180   2023-09-18       1180         780
180            181   2024-01-24       1181         944
181            182   2024-04-17       1182         233
182            183   2024-06-20       1183         147
183            184   2024-03-19       1184         261
184            185   2023-08-01       1185         235
185            186   2023-07-16       1186         469
186            187   2023-07-31       1187         740
187            188   2024-01-13       1188         197
188            189   2024-03-21       1189         555
189            190   2023-08-05       1190         589
190            191   2024-05-30       1191         476
191            192   2023-08-28       1192         756
192            193   2024-02-20       1193         459
193            194   2023-08-12       1194         553
194            195   2023-09-30       1195         847
195            196   2023-10-14       1196         760
196            197   2024-01-13       1197         807
197            198   2024-01-04       1198         621
198            199   2023-11-13       1199         215
199            200   2024-01-24       1200         424
200            201   2024-02-09       1201         276
201            202   2024-01-08       1202         114
202            203   2023-07-28       1203         743
203            204   2024-01-10       1204         649
204            205   2024-02-27       1205         308
205            206   2024-04-04       1206         954
206            207   2023-12-19       1207         966
207            208   2023-08-11       1208         723
208            209   2024-01-15       1209         824
209            210   2024-04-24       1210         901
210            211   2024-05-04       1211         375
211            212   2023-07-25       1212         378
212            213   2023-11-15       1213         566
213            214   2023-09-22       1214         361
214            215   2023-12-26       1215         621
215            216   2024-01-26       1216         492
216            217   2024-06-15       1217         831
217            218   2024-03-13       1218         427
218            219   2023-07-22       1219         153
219            220   2024-01-26       1220         576
220            221   2024-02-22       1221         108
221            222   2023-09-09       1222         575
222            223   2023-07-05       1223         659
223            224   2023-06-26       1224         654
224            225   2024-01-17       1225         773
225            226   2023-07-13       1226         529
226            227   2023-12-21       1227         337
227            228   2023-07-25       1228         186
228            229   2023-10-05       1229         681
229            230   2023-10-27       1230         422
230            231   2024-02-08       1231         378
231            232   2024-01-20       1232         259
232            233   2023-07-31       1233         888
233            234   2023-09-17       1234         926
234            235   2023-11-26       1235         977
235            236   2023-11-30       1236         150
236            237   2024-05-03       1237         563
237            238   2023-08-15       1238         243
238            239   2024-02-07       1239         943
239            240   2024-06-10       1240         365
240            241   2023-08-12       1241         554
241            242   2023-11-26       1242         572
242            243   2023-10-10       1243         130
243            244   2024-03-03       1244         556
244            245   2023-11-21       1245         610
245            246   2024-05-02       1246         529
246            247   2024-01-23       1247         913
247            248   2023-09-03       1248         596
248            249   2023-07-18       1249         426
249            250   2023-08-03       1250         583
250            251   2023-07-17       1251         772
251            252   2023-09-02       1252         324
252            253   2023-07-06       1253         706
253            254   2024-05-15       1254         817
254            255   2023-09-24       1255         604
255            256   2023-09-12       1256         324
256            257   2023-07-19       1257         233
257            258   2024-05-25       1258         251
258            259   2023-11-03       1259         174
259            260   2024-01-01       1260         430
260            261   2024-04-26       1261         424
261            262   2024-03-19       1262         328
262            263   2023-11-25       1263         230
263            264   2023-09-19       1264         889
264            265   2023-09-26       1265         679
265            266   2024-03-12       1266         427
266            267   2024-03-21       1267         846
267            268   2023-12-13       1268         458
268            269   2023-11-09       1269         529
269            270   2024-04-15       1270         484
270            271   2023-07-03       1271         330
271            272   2023-08-27       1272         367
272            273   2024-02-19       1273         176
273            274   2024-06-05       1274         594
274            275   2024-03-22       1275         260
275            276   2023-09-26       1276         839
276            277   2023-11-13       1277         150
277            278   2023-09-11       1278         537
278            279   2024-05-18       1279         126
279            280   2023-07-31       1280         415
280            281   2023-12-16       1281         657
281            282   2023-07-19       1282         369
282            283   2023-12-03       1283         870
283            284   2023-12-05       1284         703
284            285   2023-10-20       1285         803
285            286   2024-05-01       1286         504
286            287   2023-09-16       1287         793
287            288   2023-09-12       1288         297
288            289   2024-06-15       1289         742
289            290   2024-01-13       1290         168
290            291   2023-08-08       1291         994
291            292   2024-06-19       1292         253
292            293   2024-05-31       1293         676
293            294   2023-08-31       1294         370
294            295   2023-11-26       1295         512
295            296   2024-06-08       1296         439
296            297   2024-05-24       1297         120
297            298   2023-12-15       1298         801
298            299   2023-09-06       1299         945
299            300   2024-05-27       1300         316
300            301   2024-01-08       1301         940
301            302   2023-09-08       1302         238
302            303   2024-06-16       1303         952
303            304   2024-02-27       1304         821
304            305   2023-09-02       1305         226
305            306   2024-04-11       1306         585
306            307   2024-04-23       1307         805
307            308   2023-12-02       1308         977
308            309   2024-06-13       1309         120
309            310   2024-05-03       1310         762
310            311   2024-05-21       1311         412
311            312   2023-11-27       1312         570
312            313   2024-01-30       1313         204
313            314   2023-11-03       1314         708
314            315   2023-10-20       1315         755
315            316   2023-11-29       1316         253
316            317   2023-10-04       1317         427
317            318   2024-05-07       1318         528
318            319   2024-06-12       1319         451
319            320   2024-05-31       1320         787
320            321   2024-05-04       1321         285
321            322   2023-07-30       1322         881
322            323   2023-11-17       1323         463
323            324   2024-02-07       1324         699
324            325   2023-11-21       1325         735
325            326   2023-11-06       1326         405
326            327   2023-09-04       1327         683
327            328   2023-12-18       1328         182
328            329   2024-04-25       1329         314
329            330   2023-12-09       1330         898
330            331   2024-06-06       1331         492
331            332   2024-04-05       1332         875
332            333   2024-01-07       1333         331
333            334   2023-12-20       1334         413
334            335   2023-11-06       1335         632
335            336   2023-07-03       1336         601
336            337   2024-01-07       1337         329
337            338   2023-10-03       1338         226
338            339   2024-03-05       1339         647
339            340   2024-01-24       1340         120
340            341   2023-10-20       1341         585
341            342   2023-08-18       1342         777
342            343   2023-08-09       1343         950
343            344   2024-03-25       1344         208
344            345   2024-06-22       1345         402
345            346   2024-05-15       1346         438
346            347   2023-08-04       1347         785
347            348   2023-12-23       1348         362
348            349   2024-05-02       1349         202
349            350   2023-06-29       1350         420
350            351   2024-02-22       1351         241
351            352   2023-11-28       1352         999
352            353   2024-03-03       1353         567
353            354   2023-08-05       1354         916
354            355   2023-11-12       1355         704
355            356   2023-12-30       1356         129
356            357   2024-03-06       1357         599
357            358   2024-04-02       1358         112
358            359   2024-03-19       1359         329
359            360   2024-03-09       1360         733
360            361   2023-07-17       1361         756
361            362   2024-05-28       1362         758

In [6]:
# Changing the date column to date-
final_data['PurchaseDate']= pd.to_datetime(final_data['PurchaseDate'])

In [7]:
# Checking the conversion
print(final_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   TransactionID     1000 non-null   int64
 1   PurchaseDate      1000 non-null   datetime64[ns]
 2   ProductID         1000 non-null   int64
 3   CustomerID        1000 non-null   int64
 4   CustomerName      1000 non-null   object
 5   PurchaseQuantity  1000 non-null   int64
 6   PurchasePrice     1000 non-null   float64
 7   Country           1000 non-null   object
 8   ProductName       1000 non-null   object
 9   ProductCategory   1000 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(4), object(4)
memory usage: 78.3+ KB
None

DATA ANALYSIS

In [8]:
# How many transactions are there-
len(final_data["TransactionID"])

1000

In [9]:
# What is the total Revenue
total_revenue = (final_data["PurchasePrice"] * final_data["PurchaseQuantity"]).sum()
print(total_revenue)

1485760.55

In [10]:
# What is the total Purchase Price
total_purchase_price = final_data["PurchasePrice"].sum()
print(total_purchase_price)

489274.72

In [11]:
# What is the average purchase price
print(round(final_data["PurchasePrice"].mean(),2))

489.27

In [12]:
# Category wise total Purchase Price
final_data.groupby(['ProductCategory'], sort=True)['PurchasePrice'].sum()

ProductCategory
Electronics        248194.56
Home Appliances    241080.16
Name: PurchasePrice, dtype: float64

In [13]:
# Category wise total quantity sold:
final_data.groupby(['ProductCategory'],sort=True)['PurchaseQuantity'].sum()

ProductCategory
Electronics        1480
Home Appliances    1573
Name: PurchaseQuantity, dtype: int64

In [14]:
# Product wise total Purchase Price:
new_df = final_data.groupby(['ProductName'], sort=True)['PurchasePrice'].sum().reset_index()
new_df = new_df.sort_values(by = 'PurchasePrice', ascending=False)
print(new_df)

        ProductName  PurchasePrice
8         Microwave       30970.75
14       Smartwatch       29407.68
17          Toaster       29116.03
6            Heater       28828.67
5        Headphones       27748.78
10     Refrigerator       27730.95
9           Printer       27360.29
16       Television       25188.60
2            Camera       24985.70
0   Air Conditioner       24812.05
7            Laptop       24493.14
12       Smart Bulb       22575.66
4   Electric Kettle       22566.28
13       Smartphone       22508.32
15           Tablet       22028.51
18   Vacuum Cleaner       21921.68
11           Router       21897.88
19  Washing Machine       19987.46
3      Coffee Maker       19517.16
1           Blender       15629.13

In [15]:
# Product wise total quantity:

new_df = final_data.groupby(['ProductName'], sort=True)['PurchaseQuantity'].sum().reset_index()
new_df = new_df.sort_values(by = 'PurchaseQuantity', ascending=False)
new_df.rename(columns={'PurchaseQuantity':'TotalQuantity'},inplace= True)
new_df

        ProductName  TotalQuantity
17          Toaster            191
6            Heater            183
8         Microwave            180
10     Refrigerator            167
0   Air Conditioner            165
9           Printer            163
16       Television            161
14       Smartwatch            159
7            Laptop            154
12       Smart Bulb            152
4   Electric Kettle            151
3      Coffee Maker            150
15           Tablet            150
11           Router            148
19  Washing Machine            148
5        Headphones            142
2            Camera            136
18   Vacuum Cleaner            133
13       Smartphone            115
1           Blender            105

In [16]:
# Top 10 products by Quantity:
final_data.groupby(['ProductName'])['PurchaseQuantity'].sum().nlargest(10)

ProductName
Toaster            191
Heater             183
Microwave          180
Refrigerator       167
Air Conditioner    165
Printer            163
Television         161
Smartwatch         159
Laptop             154
Smart Bulb         152
Name: PurchaseQuantity, dtype: int64

In [17]:
# Top 10 customers in terms of purchase price
final_data.groupby(['CustomerName'])['PurchasePrice'].sum().nlargest(10)

CustomerName
Brittany Miller      1324.45
Charles Hernandez    1289.25
James Miller         1080.46
Christopher Hill     1034.04
Jillian Baker         999.98
Patricia Taylor       999.44
Mikayla Rios          998.17
Matthew Espinoza      997.45
Jamie Montoya         996.01
Charles Clark         995.97
Name: PurchasePrice, dtype: float64

In [18]:
final_data.groupby(['CustomerName','ProductName','ProductCategory'])['PurchasePrice'].sum().nlargest(10)

CustomerName      ProductName     ProductCategory
Jillian Baker     Vacuum Cleaner  Home Appliances    999.98
Patricia Taylor   Smartphone      Electronics        999.44
Mikayla Rios      Camera          Electronics        998.17
Matthew Espinoza  Television      Electronics        997.45
Jamie Montoya     Headphones      Electronics        996.01
Charles Clark     Smartphone      Electronics        995.97
Antonio Hughes    Vacuum Cleaner  Home Appliances    994.58
Carlos Smith      Headphones      Electronics        993.55
Steven Rivera     Refrigerator    Home Appliances    992.33
Casey Johnson     Television      Electronics        991.08
Name: PurchasePrice, dtype: float64

In [19]:
# Country wise Purchase Price
new_df = final_data.groupby(['Country'], sort=True)['PurchasePrice'].sum().reset_index()
new_df = new_df.sort_values(by = 'PurchasePrice', ascending=False)
new_df.rename(columns={'PurchasePrice':'TotalPurchasePrice'},inplace= True)
new_df

                                               Country  TotalPurchasePrice
162                                              Palau             5584.26
200                                              Sudan             5496.35
89                                              Guyana             5410.66
23                                              Bhutan             5317.89
173                                            Romania             4944.19
122                                         Luxembourg             4866.90
18                                            Barbados             4824.66
66                         Falkland Islands (Malvinas)             4482.61
111                                              Korea             4479.61
179                                        Saint Lucia             4324.02
152                                        New Zealand             4311.54
151                                      New Caledonia             4290.30
147                                              Nauru             4243.92
67                                       Faroe Islands             4238.78
146                                            Namibia             4093.87
102                                             Israel             4045.77
9                                            Argentina             4020.80
231                                          Venezuela             4007.65
88                                       Guinea-Bissau             3865.83
164                                             Panama             3860.74
26                                            Botswana             3771.81
90                                               Haiti             3750.82
199                                          Sri Lanka             3684.46
177                                       Saint Helena             3572.04
137                                         Micronesia             3563.56
17                                          Bangladesh             3560.52
63                                             Eritrea             3553.04
178                              Saint Kitts and Nevis             3451.11
38                                          Cape Verde             3427.86
110                                           Kiribati             3351.19
132                                         Martinique             3327.92
79                                           Gibraltar             3309.17
54                                              Cyprus             3295.66
118                                            Liberia             3261.46
196                                       South Africa             3220.91
141                                         Montenegro             3217.74
97                                           Indonesia             3174.75
227                           United States of America             3160.61
28                                              Brazil             3153.94
73                         French Southern Territories             3092.31
6                                             Anguilla             3073.14
130                                              Malta             3048.06
169                                           Portugal             3025.93
126                                             Malawi             3021.35
129                                               Mali             3010.36
60                                               Egypt             3010.35
188                                             Serbia             2988.21
34                                             Burundi             2958.02
180                                       Saint Martin             2926.82
128                                           Maldives             2907.59
230                                            Vanuatu             2872.87
134                                          Mauritius             2805.74
144                                         Mozambique             2805.58
98                                                Iran             2787.06
70                                              France             2779.83
233                                  Wallis and Futuna             2777.88
2                                              Algeria             2763.53
224                                     United Kingdom             2742.69
59                                             Ecuador             2704.98
166                                        Philippines             2696.16
100                                            Ireland             2671.41
193                                           Slovenia             2664.66
190                                       Sierra Leone             2658.77
0                                          Afghanistan             2656.89
92                       Holy See (Vatican City State)             2640.32
163                              Palestinian Territory             2633.73
15                                             Bahamas             2606.22
158                           Northern Mariana Islands             2600.90
217                                             Turkey             2599.97
211                                        Timor-Leste             2594.14
109                                              Kenya             2592.91
195                                            Somalia             2545.35
86                                            Guernsey             2536.51
214                                              Tonga             2501.98
48                                               Congo             2494.94
198                                              Spain             2493.30
5                                               Angola             2481.42
136                                             Mexico             2474.04
85                                           Guatemala             2469.58
140                                           Mongolia             2467.12
160                                               Oman             2466.71
120                                      Liechtenstein             2440.81
84                                                Guam             2418.79
74                                               Gabon             2375.42
221                                             Uganda             2362.97
32                                            Bulgaria             2362.79
232                                            Vietnam             2311.34
65                                            Ethiopia             2300.83
145                                            Myanmar             2197.11
153                                          Nicaragua             2184.29
157                                     Norfolk Island             2175.64
142                                         Montserrat             2128.29
47                                             Comoros             2124.80
4                                              Andorra             2116.36
124                                          Macedonia             2114.94
125                                         Madagascar             2110.69
103                                              Italy             2108.88
223                               United Arab Emirates             2100.23
171                                              Qatar             2097.19
204                                             Sweden             2093.58
64                                             Estonia             2081.73
159                                             Norway             2072.88
228                                            Uruguay             2071.46
212                                               Togo             2068.03
19                                             Belgium             2066.65
56                                            Djibouti             2043.22
76                                             Georgia             2037.47
71                                       French Guiana             2032.44
208                                         Tajikistan             2020.51
131                                   Marshall Islands             2014.77
68                                                Fiji             2013.31
116                                            Lebanon             1996.68
156                                               Niue             1994.60
184                                         San Marino             1992.91
22                                             Bermuda             1966.29
194                                    Solomon Islands             1955.82
72                                    French Polynesia             1892.81
78                                               Ghana             1882.27
192                         Slovakia (Slovak Republic)             1871.36
83                                          Guadeloupe             1854.93
107                                             Jordan             1846.59
236                                             Zambia             1840.91
8                                  Antigua and Barbuda             1839.04
114                   Lao People's Democratic Republic             1825.64
216                                            Tunisia             1815.90
1                                              Albania             1801.31
133                                         Mauritania             1798.23
181                          Saint Pierre and Miquelon             1796.10
215                                Trinidad and Tobago             1788.34
94                                             Hungary             1766.89
222                                            Ukraine             1722.54
123                                              Macao             1715.14
13                                             Austria             1713.02
51                                       Cote d'Ivoire             1700.63
53                                                Cuba             1687.62
186                                       Saudi Arabia             1667.64
182                   Saint Vincent and the Grenadines             1658.83
213                                            Tokelau             1640.50
40                            Central African Republic             1612.03
148                                              Nepal             1585.61
3                                       American Samoa             1582.68
27                           Bouvet Island (Bouvetoya)             1565.74
29   British Indian Ocean Territory (Chagos Archipe...             1563.30
80                                              Greece             1560.24
115                                             Latvia             1548.95
206                               Syrian Arab Republic             1548.42
24                                             Bolivia             1526.48
175                                             Rwanda             1499.83
105                                              Japan             1495.82
176                                   Saint Barthelemy             1494.17
170                                        Puerto Rico             1487.12
197       South Georgia and the South Sandwich Islands             1481.15
143                                            Morocco             1461.29
52                                             Croatia             1456.28
11                                               Aruba             1430.44
168                                             Poland             1423.38
121                                          Lithuania             1420.58
75                                              Gambia             1419.29
10                                             Armenia             1413.26
101                                        Isle of Man             1387.67
205                                        Switzerland             1386.75
108                                         Kazakhstan             1386.60
42                                               Chile             1384.38
219                           Turks and Caicos Islands             1383.87
61                                         El Salvador             1381.25
87                                              Guinea             1365.39
41                                                Chad             1358.09
113                                    Kyrgyz Republic             1345.66
81                                           Greenland             1325.03
203                                          Swaziland             1310.16
139                                             Monaco             1305.23
37                                              Canada             1295.92
218                                       Turkmenistan             1269.09
44                                    Christmas Island             1267.73
229                                         Uzbekistan             1259.61
77                                             Germany             1251.73
210                                           Thailand             1244.90
185                              Sao Tome and Principe             1236.54
93                                            Honduras             1216.93
237                                           Zimbabwe             1194.48
191                                          Singapore             1186.80
36                                            Cameroon             1163.58
20                                              Belize             1143.08
154                                              Niger             1117.47
31                                   Brunei Darussalam             1112.80
49                                        Cook Islands             1106.70
165                                               Peru             1101.59
55                                             Denmark             1098.80
91                   Heard Island and McDonald Islands             1065.44
172                                            Reunion             1065.39
117                                            Lesotho             1064.47
183                                              Samoa             1046.84
155                                            Nigeria             1044.94
39                                      Cayman Islands             1039.11
127                                           Malaysia             1014.67
201                                           Suriname             1001.53
150                               Netherlands Antilles              991.08
35                                            Cambodia              982.88
161                                           Pakistan              958.55
138                                            Moldova              952.62
7         Antarctica (the territory South of 60 deg S)              943.34
226                       United States Virgin Islands              940.96
43                                               China              930.56
187                                            Senegal              905.30
220                                             Tuvalu              900.41
21                                               Benin              898.24
46                                            Colombia              893.87
225               United States Minor Outlying Islands              890.68
207                                             Taiwan              888.49
95                                             Iceland              868.52
82                                             Grenada              847.01
112                                             Kuwait              827.83
45                             Cocos (Keeling) Islands              809.94
119                             Libyan Arab Jamahiriya              750.60
234                                     Western Sahara              745.87
33                                        Burkina Faso              740.69
202                       Svalbard & Jan Mayen Islands              730.58
14                                          Azerbaijan              729.78
12                                           Australia              707.99
209                                           Tanzania              688.01
30                              British Virgin Islands              666.75
62                                   Equatorial Guinea              652.86
25                              Bosnia and Herzegovina              626.23
235                                              Yemen              596.15
106                                             Jersey              594.69
16                                             Bahrain              590.26
174                                 Russian Federation              566.01
149                                        Netherlands              552.87
57                                            Dominica              523.96
69                                             Finland              504.69
104                                            Jamaica              476.04
167                                   Pitcairn Islands              461.39
189                                         Seychelles              460.67
58                                  Dominican Republic              406.25
96                                               India              290.61
99                                                Iraq              269.61
50                                          Costa Rica              115.41
135                                            Mayotte               41.98

In [20]:
# Top 10 countries by Purchase Price:
final_data.groupby(['Country'])['PurchasePrice'].sum().nlargest(10)

Country
Palau                          5584.26
Sudan                          5496.35
Guyana                         5410.66
Bhutan                         5317.89
Romania                        4944.19
Luxembourg                     4866.90
Barbados                       4824.66
Falkland Islands (Malvinas)    4482.61
Korea                          4479.61
Saint Lucia                    4324.02
Name: PurchasePrice, dtype: float64

In [21]:
# Country wise quantity sold:
new_df = final_data.groupby(['Country'], sort=True)['PurchaseQuantity'].sum().reset_index()
new_df = new_df.sort_values(by = 'PurchaseQuantity', ascending=False)
new_df.rename(columns={'PurchaseQuantity':'TotalQuantity'},inplace= True)
new_df

                                               Country  TotalQuantity
166                                        Philippines             34
199                                          Sri Lanka             31
18                                            Barbados             30
173                                            Romania             30
162                                              Palau             29
60                                               Egypt             28
63                                             Eritrea             28
200                                              Sudan             28
26                                            Botswana             27
122                                         Luxembourg             26
111                                              Korea             26
144                                         Mozambique             26
151                                      New Caledonia             26
90                                               Haiti             25
125                                         Madagascar             25
102                                             Israel             25
66                         Falkland Islands (Malvinas)             24
34                                             Burundi             23
147                                              Nauru             23
146                                            Namibia             23
160                                               Oman             23
177                                       Saint Helena             22
164                                             Panama             22
221                                             Uganda             22
103                                              Italy             22
89                                              Guyana             21
98                                                Iran             21
145                                            Myanmar             21
179                                        Saint Lucia             21
193                                           Slovenia             20
118                                            Liberia             20
120                                      Liechtenstein             20
152                                        New Zealand             20
233                                  Wallis and Futuna             20
232                                            Vietnam             20
9                                            Argentina             20
86                                            Guernsey             20
84                                                Guam             20
67                                       Faroe Islands             19
88                                       Guinea-Bissau             19
73                         French Southern Territories             19
158                           Northern Mariana Islands             19
184                                         San Marino             19
178                              Saint Kitts and Nevis             19
137                                         Micronesia             19
92                       Holy See (Vatican City State)             18
231                                          Venezuela             18
170                                        Puerto Rico             18
196                                       South Africa             18
182                   Saint Vincent and the Grenadines             18
2                                              Algeria             18
188                                             Serbia             18
180                                       Saint Martin             18
94                                             Hungary             17
32                                            Bulgaria             17
1                                              Albania             17
85                                           Guatemala             17
6                                             Anguilla             17
169                                           Portugal             17
116                                            Lebanon             17
59                                             Ecuador             17
70                                              France             16
23                                              Bhutan             16
42                                               Chile             16
36                                            Cameroon             16
205                                        Switzerland             16
53                                                Cuba             16
48                                               Congo             16
64                                             Estonia             16
217                                             Turkey             16
110                                           Kiribati             16
128                                           Maldives             16
136                                             Mexico             16
107                                             Jordan             16
142                                         Montserrat             15
197       South Georgia and the South Sandwich Islands             15
140                                           Mongolia             15
211                                        Timor-Leste             15
203                                          Swaziland             15
215                                Trinidad and Tobago             15
224                                     United Kingdom             15
13                                             Austria             15
141                                         Montenegro             15
130                                              Malta             15
132                                         Martinique             15
38                                          Cape Verde             14
113                                    Kyrgyz Republic             14
114                   Lao People's Democratic Republic             14
127                                           Malaysia             14
168                                             Poland             14
163                              Palestinian Territory             14
54                                              Cyprus             14
192                         Slovakia (Slovak Republic)             14
157                                     Norfolk Island             14
0                                          Afghanistan             14
210                                           Thailand             13
198                                              Spain             13
124                                          Macedonia             13
134                                          Mauritius             13
214                                              Tonga             13
208                                         Tajikistan             13
3                                       American Samoa             13
97                                           Indonesia             13
79                                           Gibraltar             13
72                                    French Polynesia             13
227                           United States of America             13
186                                       Saudi Arabia             13
100                                            Ireland             12
10                                             Armenia             12
14                                          Azerbaijan             12
11                                               Aruba             12
5                                               Angola             12
129                                               Mali             12
123                                              Macao             12
176                                   Saint Barthelemy             12
204                                             Sweden             12
56                                            Djibouti             12
69                                             Finland             12
80                                              Greece             12
171                                              Qatar             11
220                                             Tuvalu             11
191                                          Singapore             11
81                                           Greenland             11
236                                             Zambia             11
237                                           Zimbabwe             11
201                                           Suriname             11
71                                       French Guiana             11
47                                             Comoros             11
104                                            Jamaica             11
105                                              Japan             11
8                                  Antigua and Barbuda             11
29   British Indian Ocean Territory (Chagos Archipe...             11
153                                          Nicaragua             10
7         Antarctica (the territory South of 60 deg S)             10
181                          Saint Pierre and Miquelon             10
175                                             Rwanda             10
190                                       Sierra Leone             10
139                                             Monaco             10
229                                         Uzbekistan             10
235                                              Yemen             10
228                                            Uruguay             10
219                           Turks and Caicos Islands             10
15                                             Bahamas             10
65                                            Ethiopia             10
49                                        Cook Islands             10
101                                        Isle of Man             10
109                                              Kenya             10
22                                             Bermuda             10
68                                                Fiji              9
77                                             Germany              9
93                                            Honduras              9
75                                              Gambia              9
40                            Central African Republic              9
19                                             Belgium              9
74                                               Gabon              9
51                                       Cote d'Ivoire              9
76                                             Georgia              9
62                                   Equatorial Guinea              9
216                                            Tunisia              9
230                                            Vanuatu              9
159                                             Norway              9
195                                            Somalia              9
187                                            Senegal              9
126                                             Malawi              9
112                                             Kuwait              9
155                                            Nigeria              9
189                                         Seychelles              9
183                                              Samoa              9
174                                 Russian Federation              9
33                                        Burkina Faso              8
39                                      Cayman Islands              8
17                                          Bangladesh              8
27                           Bouvet Island (Bouvetoya)              8
28                                              Brazil              8
133                                         Mauritania              8
131                                   Marshall Islands              8
194                                    Solomon Islands              8
222                                            Ukraine              8
223                               United Arab Emirates              8
206                               Syrian Arab Republic              8
212                                               Togo              8
213                                            Tokelau              8
115                                             Latvia              8
121                                          Lithuania              8
108                                         Kazakhstan              8
96                                               India              8
143                                            Morocco              7
148                                              Nepal              7
207                                             Taiwan              7
185                              Sao Tome and Principe              7
91                   Heard Island and McDonald Islands              7
37                                              Canada              7
87                                              Guinea              7
99                                                Iraq              7
78                                               Ghana              7
21                                               Benin              7
20                                              Belize              7
41                                                Chad              7
218                                       Turkmenistan              7
82                                             Grenada              7
156                                               Niue              7
44                                    Christmas Island              6
4                                              Andorra              6
35                                            Cambodia              6
12                                           Australia              6
31                                   Brunei Darussalam              6
172                                            Reunion              6
117                                            Lesotho              6
209                                           Tanzania              6
83                                          Guadeloupe              6
52                                             Croatia              5
61                                         El Salvador              5
106                                             Jersey              5
119                             Libyan Arab Jamahiriya              5
50                                          Costa Rica              5
45                             Cocos (Keeling) Islands              5
16                                             Bahrain              5
25                              Bosnia and Herzegovina              5
24                                             Bolivia              5
46                                            Colombia              5
57                                            Dominica              5
95                                             Iceland              5
226                       United States Virgin Islands              5
167                                   Pitcairn Islands              5
161                                           Pakistan              5
165                                               Peru              5
154                                              Niger              5
149                                        Netherlands              5
135                                            Mayotte              5
138                                            Moldova              5
150                               Netherlands Antilles              4
225               United States Minor Outlying Islands              4
58                                  Dominican Republic              4
55                                             Denmark              4
234                                     Western Sahara              4
43                                               China              3
30                              British Virgin Islands              3
202                       Svalbard & Jan Mayen Islands              2

In [22]:
# What is the total quantity sold:
print(final_data["PurchaseQuantity"].sum())

3053

In [23]:
# Year wise number of customers:
new_df = final_data.groupby([final_data.PurchaseDate.dt.year], sort=True)['CustomerID'].count().reset_index()
new_df = new_df.sort_values(by = 'CustomerID', ascending=False)
new_df.rename(columns={'CustomerID':'Customer_Count'},inplace= True)
new_df['Percentage']=(new_df['Customer_Count'] /
                  new_df['Customer_Count'].sum()) * 100
new_df

   PurchaseDate  Customer_Count  Percentage
0          2023             543        54.3
1          2024             457        45.7

In [24]:
# Year wise Total Purchase Price:
new_df = final_data.groupby([final_data.PurchaseDate.dt.year], sort=True)['PurchasePrice'].sum().reset_index()
new_df = new_df.sort_values(by = 'PurchasePrice', ascending=False)
new_df.rename(columns={'PurchasePrice':'Total_Purchase_Price'},inplace= True)
new_df.rename(columns={'PurchaseDate':'Year'},inplace= True)
new_df['Growth_Rate'] = new_df['Total_Purchase_Price'].pct_change(periods=1) * 100
new_df

   Year  Total_Purchase_Price  Growth_Rate
0  2023             262346.07          NaN
1  2024             226928.65   -13.500267

In [25]:
# month wise Total Purchase Price:
new_df = final_data.groupby([final_data.PurchaseDate.dt.month ], sort=True)['PurchasePrice'].sum().reset_index()
new_df = new_df.sort_values(by = 'PurchasePrice', ascending=False)
new_df.rename(columns={'PurchasePrice':'Total_Purchase_Price'},inplace= True)
new_df.rename(columns={'PurchaseDate':'Month'},inplace= True)
new_df

    Month  Total_Purchase_Price
11     12              51910.42
6       7              47956.69
8       9              46764.80
0       1              43575.14
4       5              42799.97
1       2              41393.77
10     11              39839.29
9      10              38368.97
2       3              37442.66
3       4              34165.64
7       8              33493.46
5       6              31563.91

In [26]:
# Quarter wise Total Purchase Price:
new_df = final_data.groupby([final_data.PurchaseDate.dt.quarter ], sort=True)['PurchasePrice'].sum().reset_index()
new_df = new_df.sort_values(by = 'PurchasePrice', ascending=False)
new_df.rename(columns={'PurchasePrice':'Total_Purchase_Price'},inplace= True)
new_df.rename(columns={'PurchaseDate':'Quarter'},inplace= True)
new_df

   Quarter  Total_Purchase_Price
3        4             130118.68
2        3             128214.95
0        1             122411.57
1        2             108529.52

In [27]:
# Creating a copy of the original data and extracting year,month and quarter of purchase date into new columns
final_data_copy=final_data
final_data_copy['Year']=final_data_copy['PurchaseDate'].dt.year
final_data_copy['Month']=final_data_copy['PurchaseDate'].dt.month
final_data_copy['Quarter']=final_data_copy['PurchaseDate'].dt.quarter

In [28]:
# Year wise month wise Total Purchase Price with growth
new_df = final_data_copy.groupby(['Year','Month'], sort=True)['PurchasePrice'].sum().reset_index()
#new_df = new_df.sort_values(by = 'Purchase_Price', ascending=False)
new_df.rename(columns={'PurchasePrice':'Total_Purchase_Price'},inplace= True)
new_df['Growth_Rate'] = new_df['Total_Purchase_Price'].pct_change(periods=1) * 100
new_df

    Year  Month  Total_Purchase_Price  Growth_Rate
0   2023      6               4012.44          NaN
1   2023      7              47956.69  1095.200177
2   2023      8              33493.46   -30.158941
3   2023      9              46764.80    39.623676
4   2023     10              38368.97   -17.953311
5   2023     11              39839.29     3.832055
6   2023     12              51910.42    30.299561
7   2024      1              43575.14   -16.057046
8   2024      2              41393.77    -5.005997
9   2024      3              37442.66    -9.545180
10  2024      4              34165.64    -8.752103
11  2024      5              42799.97    25.271969
12  2024      6              27551.47   -35.627361

In [29]:
# Year wise month wise Total Purchase Price
new_df = final_data_copy.groupby(['Year','Month'], sort=True)['PurchasePrice'].sum().reset_index()
new_df = new_df.sort_values(by = 'PurchasePrice', ascending=False)
new_df.rename(columns={'PurchasePrice':'Total_Purchase_Price'},inplace= True)
new_df

    Year  Month  Total_Purchase_Price
6   2023     12              51910.42
1   2023      7              47956.69
3   2023      9              46764.80
7   2024      1              43575.14
11  2024      5              42799.97
8   2024      2              41393.77
5   2023     11              39839.29
4   2023     10              38368.97
9   2024      3              37442.66
10  2024      4              34165.64
2   2023      8              33493.46
12  2024      6              27551.47
0   2023      6               4012.44

In [30]:
#Year wise quarter wise total Purchase Price:
new_df = final_data_copy.groupby(['Year','Quarter'], sort=True)['PurchasePrice'].sum().reset_index()
new_df = new_df.sort_values(by = 'PurchasePrice', ascending=False)
new_df.rename(columns={'PurchasePrice':'Total_Purchase_Price'},inplace= True)
new_df

   Year  Quarter  Total_Purchase_Price
2  2023        4             130118.68
1  2023        3             128214.95
3  2024        1             122411.57
4  2024        2             104517.08
0  2023        2               4012.44

In [31]:
# Year wise quarter wise growth:
#Year wise quarter wise total Purchase Price:
new_df = final_data_copy.groupby(['Year','Quarter'], sort=True)['PurchasePrice'].sum().reset_index()
new_df.rename(columns={'PurchasePrice':'Total_Purchase_Price'},inplace= True)
new_df['Growth_Rate'] = new_df['Total_Purchase_Price'].pct_change(periods=1) * 100
new_df

   Year  Quarter  Total_Purchase_Price  Growth_Rate
0  2023        2               4012.44          NaN
1  2023        3             128214.95  3095.435944
2  2023        4             130118.68     1.484796
3  2024        1             122411.57    -5.923139
4  2024        2             104517.08   -14.618300

In [32]:
# Year wise total quantity:
new_df = final_data.groupby([final_data.PurchaseDate.dt.year], sort=True)['PurchaseQuantity'].sum().reset_index()
new_df = new_df.sort_values(by = 'PurchaseQuantity', ascending=False)
new_df.rename(columns={'PurchaseDate':'Year'},inplace= True)
new_df

   Year  PurchaseQuantity
0  2023              1651
1  2024              1402

In [33]:
# Year wise month wise total quantity:
new_df = final_data_copy.groupby(['Year','Month'], sort=True)['PurchaseQuantity'].sum().reset_index()
new_df = new_df.sort_values(by = 'PurchaseQuantity', ascending=False)
new_df

    Year  Month  PurchaseQuantity
6   2023     12               295
5   2023     11               293
7   2024      1               292
3   2023      9               287
8   2024      2               272
1   2023      7               269
11  2024      5               268
4   2023     10               243
2   2023      8               236
9   2024      3               208
10  2024      4               195
12  2024      6               167
0   2023      6                28

In [34]:
# Year wise quarter wise total quantity:
new_df = final_data_copy.groupby(['Year','Quarter'], sort=True)['PurchaseQuantity'].sum().reset_index()
new_df = new_df.sort_values(by = 'PurchaseQuantity', ascending=False)
new_df

   Year  Quarter  PurchaseQuantity
2  2023        4               831
1  2023        3               792
3  2024        1               772
4  2024        2               630
0  2023        2                28

In [35]:
# Country wise customer count-
# Year wise number of customers:
new_df = final_data.groupby(["Country"], sort=True)['CustomerID'].count().reset_index()
new_df = new_df.sort_values(by = 'CustomerID', ascending=False)
new_df.rename(columns={'CustomerID':'Customer_Count'},inplace= True)
new_df

                                               Country  Customer_Count
200                                              Sudan              11
162                                              Palau              10
166                                        Philippines               9
173                                            Romania               9
26                                            Botswana               9
199                                          Sri Lanka               9
111                                              Korea               8
144                                         Mozambique               8
122                                         Luxembourg               8
23                                              Bhutan               8
63                                             Eritrea               8
89                                              Guyana               8
66                         Falkland Islands (Malvinas)               8
160                                               Oman               8
179                                        Saint Lucia               8
146                                            Namibia               7
141                                         Montenegro               7
164                                             Panama               7
152                                        New Zealand               7
151                                      New Caledonia               7
147                                              Nauru               7
32                                            Bulgaria               7
60                                               Egypt               7
67                                       Faroe Islands               7
102                                             Israel               7
177                                       Saint Helena               7
180                                       Saint Martin               7
193                                           Slovenia               7
184                                         San Marino               7
231                                          Venezuela               7
2                                              Algeria               7
18                                            Barbados               7
34                                             Burundi               7
90                                               Haiti               7
73                         French Southern Territories               6
53                                                Cuba               6
48                                               Congo               6
88                                       Guinea-Bissau               6
38                                          Cape Verde               6
6                                             Anguilla               6
233                                  Wallis and Futuna               6
79                                           Gibraltar               6
86                                            Guernsey               6
103                                              Italy               6
98                                                Iran               6
9                                            Argentina               6
196                                       South Africa               6
128                                           Maldives               6
137                                         Micronesia               6
188                                             Serbia               6
120                                      Liechtenstein               6
125                                         Madagascar               6
169                                           Portugal               6
158                           Northern Mariana Islands               6
178                              Saint Kitts and Nevis               6
168                                             Poland               5
110                                           Kiribati               5
126                                             Malawi               5
132                                         Martinique               5
182                   Saint Vincent and the Grenadines               5
198                                              Spain               5
205                                        Switzerland               5
217                                             Turkey               5
221                                             Uganda               5
224                                     United Kingdom               5
230                                            Vanuatu               5
211                                        Timor-Leste               5
208                                         Tajikistan               5
232                                            Vietnam               5
130                                              Malta               5
118                                            Liberia               5
157                                     Norfolk Island               5
145                                            Myanmar               5
134                                          Mauritius               5
181                          Saint Pierre and Miquelon               5
142                                         Montserrat               5
170                                        Puerto Rico               5
171                                              Qatar               5
10                                             Armenia               5
97                                           Indonesia               5
84                                                Guam               5
13                                             Austria               5
92                       Holy See (Vatican City State)               5
85                                           Guatemala               5
129                                               Mali               5
140                                           Mongolia               5
116                                            Lebanon               5
113                                    Kyrgyz Republic               5
54                                              Cyprus               5
107                                             Jordan               5
70                                              France               5
59                                             Ecuador               5
64                                             Estonia               4
56                                            Djibouti               4
100                                            Ireland               4
105                                              Japan               4
71                                       French Guiana               4
65                                            Ethiopia               4
36                                            Cameroon               4
3                                       American Samoa               4
22                                             Bermuda               4
17                                          Bangladesh               4
19                                             Belgium               4
28                                              Brazil               4
42                                               Chile               4
40                            Central African Republic               4
1                                              Albania               4
5                                               Angola               4
11                                               Aruba               4
0                                          Afghanistan               4
206                               Syrian Arab Republic               4
216                                            Tunisia               4
227                           United States of America               4
228                                            Uruguay               4
192                         Slovakia (Slovak Republic)               4
176                                   Saint Barthelemy               4
115                                             Latvia               4
215                                Trinidad and Tobago               4
203                                          Swaziland               4
197       South Georgia and the South Sandwich Islands               4
195                                            Somalia               4
190                                       Sierra Leone               4
187                                            Senegal               4
186                                       Saudi Arabia               4
136                                             Mexico               4
163                              Palestinian Territory               4
94                                             Hungary               4
29   British Indian Ocean Territory (Chagos Archipe...               4
124                                          Macedonia               4
159                                             Norway               4
153                                          Nicaragua               4
47                                             Comoros               4
76                                             Georgia               4
72                                    French Polynesia               4
117                                            Lesotho               4
139                                             Monaco               3
154                                              Niger               3
123                                              Macao               3
69                                             Finland               3
131                                   Marshall Islands               3
235                                              Yemen               3
236                                             Zambia               3
41                                                Chad               3
39                                      Cayman Islands               3
33                                        Burkina Faso               3
31                                   Brunei Darussalam               3
15                                             Bahamas               3
51                                       Cote d'Ivoire               3
52                                             Croatia               3
61                                         El Salvador               3
78                                               Ghana               3
74                                               Gabon               3
7         Antarctica (the territory South of 60 deg S)               3
4                                              Andorra               3
12                                           Australia               3
8                                  Antigua and Barbuda               3
14                                          Azerbaijan               3
27                           Bouvet Island (Bouvetoya)               3
91                   Heard Island and McDonald Islands               3
87                                              Guinea               3
77                                             Germany               3
81                                           Greenland               3
104                                            Jamaica               3
49                                        Cook Islands               3
62                                   Equatorial Guinea               3
68                                                Fiji               3
75                                              Gambia               3
82                                             Grenada               3
80                                              Greece               3
83                                          Guadeloupe               3
99                                                Iraq               3
101                                        Isle of Man               3
108                                         Kazakhstan               3
109                                              Kenya               3
237                                           Zimbabwe               3
229                                         Uzbekistan               3
223                               United Arab Emirates               3
220                                             Tuvalu               3
212                                               Togo               3
213                                            Tokelau               3
219                           Turks and Caicos Islands               3
222                                            Ukraine               3
214                                              Tonga               3
183                                              Samoa               3
210                                           Thailand               3
204                                             Sweden               3
191                                          Singapore               3
155                                            Nigeria               3
148                                              Nepal               3
156                                               Niue               3
175                                             Rwanda               3
174                                 Russian Federation               3
201                                           Suriname               3
194                                    Solomon Islands               3
127                                           Malaysia               3
114                   Lao People's Democratic Republic               3
189                                         Seychelles               3
25                              Bosnia and Herzegovina               2
44                                    Christmas Island               2
20                                              Belize               2
21                                               Benin               2
37                                              Canada               2
45                             Cocos (Keeling) Islands               2
43                                               China               2
96                                               India               2
93                                            Honduras               2
218                                       Turkmenistan               2
185                              Sao Tome and Principe               2
209                                           Tanzania               2
207                                             Taiwan               2
161                                           Pakistan               2
143                                            Morocco               2
55                                             Denmark               2
57                                            Dominica               2
46                                            Colombia               2
24                                             Bolivia               2
35                                            Cambodia               2
138                                            Moldova               2
165                                               Peru               2
133                                         Mauritania               2
112                                             Kuwait               2
121                                          Lithuania               2
226                       United States Virgin Islands               2
167                                   Pitcairn Islands               2
172                                            Reunion               2
95                                             Iceland               1
16                                             Bahrain               1
30                              British Virgin Islands               1
58                                  Dominican Republic               1
50                                          Costa Rica               1
106                                             Jersey               1
150                               Netherlands Antilles               1
119                             Libyan Arab Jamahiriya               1
135                                            Mayotte               1
149                                        Netherlands               1
202                       Svalbard & Jan Mayen Islands               1
225               United States Minor Outlying Islands               1
234                                     Western Sahara               1

In [36]:
# Which product sells the most in terms of quantity in each month?
df=final_data_copy.groupby(['Month','ProductName']).agg(total_quantity=("PurchaseQuantity","sum"))
df=df.reset_index()
idx = df.groupby('Month')['total_quantity'].idxmax()
df = df.loc[idx]
df

     Month      ProductName  total_quantity
11       1           Router              30
27       2           Laptop              25
57       3   Vacuum Cleaner              25
66       4           Laptop              20
86       5        Microwave              24
114      6          Toaster              22
127      7     Refrigerator              32
154      8          Toaster              26
173      9       Television              28
177     10  Air Conditioner              28
204     11        Microwave              37
227     12       Smart Bulb              31

In [37]:
# Top 5 products for each category in terms of quantity:
df=final_data_copy.groupby(['ProductCategory','ProductName']).agg(total_quantity=("PurchaseQuantity","sum"))
df=df.reset_index()
df.loc[df.groupby('ProductCategory')['total_quantity'].nlargest(5).reset_index(0).index]

    ProductCategory      ProductName  total_quantity
3       Electronics          Printer             163
9       Electronics       Television             161
7       Electronics       Smartwatch             159
2       Electronics           Laptop             154
5       Electronics       Smart Bulb             152
17  Home Appliances          Toaster             191
14  Home Appliances           Heater             183
15  Home Appliances        Microwave             180
16  Home Appliances     Refrigerator             167
10  Home Appliances  Air Conditioner             165

In [38]:
# Which product gives the most revenue each year?
df=final_data_copy.groupby(['Year','ProductCategory','ProductName']).agg(total_price=("PurchasePrice","sum"))
df=df.reset_index()
idx = df.groupby(['Year','ProductCategory'])['total_price'].idxmax()
df = df.loc[idx]
df

    Year  ProductCategory      ProductName  total_price
7   2023      Electronics       Smartwatch     17897.15
10  2023  Home Appliances  Air Conditioner     18395.71
23  2024      Electronics          Printer     15132.63
35  2024  Home Appliances        Microwave     15799.85

SUMMARY REPORT

1. Data Period:

The dataset encompasses transactions from the years 2023 and 2024.

2. Total Transactions:

The dataset includes a total of 1,000 transactions.

3. Total Revenue:

The total revenue generated from these transactions is $1485760.55.

4. Total Products Sold:

The dataset records the sale of 3,053 products.

5. Categories and Total Purchase Price:

There are two product categories represented in the dataset:
Electronics: Having Total Purchase Price of $248,194.56.
Home Appliances: Having Total Purchase Price of $241,080.16.
The Electronics category has a slightly higher Purchase Price compared to Home Appliances.

6. Category-wise Product Quantities:

The total quantities sold for each category are:

Home Appliances: 1,573 products.
Electronics: 1,480 products.

7. Top Total Purchase Price Product:

The product with the highest total Purchase Price is the Microwave, which has generated $30,970.75.

8. Top Quantity Sold Product:

Toasters are the most sold product, with a total of 191 units sold.

9. Top 10 Customers by Purchase Value:

The top 10 customers, assuming each customer can make up to 2 transactions, are:
Brittany Miller  
Charles Hernandez 
James Miller 
Jillian Baker 
Christopher Hill 
Patricia Taylor 
Mikayla Rios 
Matthew Espinoza 
Jamie Montoya 
Charles Clark

10. Top 10 Countries by Purchase Value:

The top 10 countries are: Palau(5584.26), Sudan(5496.35), Guyana(5410.66), Bhutan(5317.89), Romania(4944.19), Luxembourg(4866.90), (Barbados)4824.66, Falkland Islands(Malvinas)(4482.61), 
Korea(4479.61), Saint Lucia(4324.02)